<div class="contar-wrap mx-auto px-4 py-8">
  <% if (is_archive()) { %>
    <%- partial('_partial/timeline') %>
  <% } else { %>
    <%- partial('_partial/post_list') %>
  <% } %>
</div>

<% if (!is_archive()) { %>
  <%- partial('_partial/paginator') %>
<% } %>
