<div class="tag-cloud flex flex-wrap justify-center gap-4 my-8">
  <div class="bg-white rounded-xl shadow-lg p-8 max-w-xl w-full space-y-6">
    <ul class="space-y-4 text-lg">
      <% listResources().forEach(function(resource){ %>
        <li x-data="{ bgColor: randomColor() }">
          <a
            :style="`background: ${bgColor}`"
            href="<%= resource %>"
            class="block p-4 rounded-lg text-white font-semibold shadow hover:scale-[1.02] transition"
          >
            👉 <%= resource %>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
</div>

<script>

</script>
