<!-- 分页控件 -->
<% if (page.total > 1){ %>
<div class="max-w-6xl mx-auto px-4 sm:px-6 pb-10">
  <div class="flex justify-center items-center">
    <%- paginator({
      prev_text: _p('prev'),
      next_text: _p('next')
    }) %>
  </div>
</div>
<% } %>
