<div id="searchOverlay" class="overlay hidden"></div>
<div id="inputContainer" class="floating-search hidden">
  <input
    type="text"
    id="inputField"
    placeholder="搜索文章..."
    class="search-input"
    autocomplete="off"
  />
  <div id="articleList" class="search-results"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", DOMContentLoadedSearch);
</script>
